@media (min-width: 768px) {
	.footer__inputs {
		display: none !important;
	}
}

.footer__inputs {
	position: relative;
	width: 100%;
	height: 80px;
	transform: translate(0, 20%);
}
.footer__searchbar {
	display: flex;
	justify-content: center;
}
.footer__input {
	position: absolute;
	display: inline-flex;
	width: 200px;
	margin-top: 0.2em;
	align-items: left;
	background-color: rgba(0, 0, 0, 0.445);
	border-radius: 5px;
	color: white;
	padding: 7px;
	border: 0.1px solid rgba(255, 255, 255, 0.4);
	z-index: 3;
}
.footer__input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.footer__inputIcon {
	position: absolute;
	display: inline-flex;
	width: 20px;
	height: 20px;
	margin-top: 0.2em;
	padding-left: 184px;
	padding-top: 4px;
	opacity: 60%;
	z-index: 4;
	pointer-events: none;
}

.FooterContainer {
	display: flex;
	justify-content: center;
	padding: 100px 0 50px 0;
	width: 100%;
	z-index: 10;
	background-color: rgb(0, 0, 0, 0.8);
}

.FooterLinkContainer {
	position: relative;
	width: 40%;
	max-width: 700px;
	margin: auto;
}

.FooterLinkTitle {
	color: gray;
	font-size: 18px;
}

.FooterLinkContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 35px 0 40px 0;
}

.FooterLink {
	color: gray;
	font-size: 15px;
	width: 110px;
	height: 40px;
	text-decoration: none;
}
.FooterLink:hover {
	text-decoration: underline;
}

.FooterDescContainer {
	margin-top: 30px;
}

.FooterDescRights {
	color: white;
	font-size: 16px;
	text-align: center;
}

@media (max-width: 768px) {
	.FooterContainer {
		padding: 90px 0 30px 0;
	}
	.FooterLinkContainer {
		width: 80%;
		align-contents: center;
	}

	.FooterLinkTitle {
		font-size: 16px;
	}

	.FooterLinkContent {
		margin-top: 26;
	}
	.FooterLink {
		margin-bottom: 16px;
		height: 20px;
		font-size: 14px;
	}
	.FooterDescContainer {
		margin-top: 20px;
	}
}
